
div.mailHeaders {
  background-color: #e7e7e7;
  padding: 7px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
}

tr.mailHeaders {
  background-color: #e7e7e7;
  padding: 7px;
}

td.mailToolBarElement {
  background-color: #e7e7e7;
  float: left;
  border-top: solid white 1px;
  border-bottom: solid black 1px;
  border-right: solid black 1px;
  border-left: solid white 1px;
}

td.mailToolBarInsideElement {
  background-color: transparent;
  border-right: solid #818181 1px;
  border-left: solid white 1px;
  border-top: solid white 1px;
  border-bottom: solid #818181 1px;
  padding: 2px;
}

#mailBody {
  background-color: white;
  margin-top: 10px;
  padding:8px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomleft: 12px;
  -moz-border-radius-bottomright: 12px;
}

#imgMailMoreInfos {
  cursor: hand;
  vertical-align: middle;
  float: left;
}

#maillist {
  margin-bottom: 4px;
}

#mailSubject {
  float: left;
  margin-left: 4px;
}

#headerButton {
  float: left;
  margin-top: 4px;
}

#mailMoreInfos {
  margin-left: 14px;
}

#mailBreak {
  clear: both;
}

#midPageButton {
  float: right;
}

#fullPageButton {
  float: right;
}

div.selected_even {
  background-color: #d6faff;
  width : 100%;
  height: 100%;
}

div.selected_odd {
  background-color: #d6faff;
  width : 100%;
  height: 100%;
}

div.not_selected_even {
  background-color: transparent;
  width : 100%;
  height: 100%;
}

div.not_selected_odd {
  background-color: transparent;
  width : 100%;
  height: 100%;
}



tr.line_selectable_odd {
  background-color: #ebebeb;
}

tr.line_selectable_even {
  background-color: transparent;
}

tr.line_selectable_odd:hover {
  background-color:  #c0ff75;
}

tr.line_selectable_even:hover {
  background-color:  #c0ff75;
}

div.folder_msglist {
  /*overflow: scroll;*/
  min-height: 100px;
}

div.message_msglist {
  /*overflow: scroll;*/
  height: 200px;
}

td.selectable:hover {
  background-color:  #c0ff75;

}

table.editorHeader {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #e7e7e7;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomleft: 12px;
  -moz-border-radius-bottomright: 12px;
}

input.message_edit_input:hover {
  background-color:  #c0ff75;
}

.tr_title {
  font-weight: bold;
}

form.attach_form {
  margin-bottom: 10px;
  padding: 10px;
  border: dotted black 1px;
}

input.attach_button {
  border: none;
  padding-left: 23px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: hand;
  background-image: url('cpsma_attach.png');
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
}

input.attach_button:hover {
  background-color:  #c0ff75;
}

input.attach_name {

}

a.close_attach_form {
  padding: 4px;
  float: right;
}

form.renameForm {

}

img.close_rename_form {
  padding: 4px;
  float: right;
}

div.rename_form {
  margin-bottom: 10px;
  padding: 10px;
}

form.rename_form {
  margin-bottom: 10px;
  padding: 10px;
  border: dotted black 1px;
}


div.form_title {
  border-bottom: 1px solid black;
  margin-bottom: 8px;
  padding-bottom: 2px;
  font-weight: bold;
}

div.content_toolbar {
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 8px;
}

input.manage_copy {
  border: none;
  cursor: hand;
  font-weight: bold;
  background-color: transparent;
}

input.manage_copy:hover {
  background-color: white;
}

input.manage_cut {
  border: none;
  cursor: hand;
  font-weight: bold;
  background-color: transparent;
}

input.manage_cut:hover {
  background-color: white;
}

input.manage_paste {
  border: none;
  cursor: hand;
  font-weight: bold;
  background-color: transparent;
}

input.manage_paste:hover {
  background-color: white;
}

input.manage_delete {
  border: none;
  cursor: hand;
  font-weight: bold;
  background-color: transparent;
}

input.manage_delete:hover {
  background-color: white;
}

input.manage_selectall {
  border: none;
  cursor: hand;
  font-weight: bold;
  background-color: transparent;
}

input.manage_selectall:hover {
  background-color: white;
}


div.recipient {
  float: left;
  width: 80%;
}

input.message_edit_input {
  width: 80%;
  float: left;
}

div.recipient_header {
  float: left;
  font-weight: bold;
  margin-right: 4px;
  width: 100px;
}

div.recipient_toggler {
  padding: 4px;
  float: right;
}

textarea.recipients {
  width: 100%;
}

textarea.recipients:hover {
  background-color:  #c0ff75;
}

div.hidden_part {
  display: none;
}

div.not_hidden_part {
  display: 1;
}

span.link {
  color: blue; /* put cps color here*/
}


div.subject {
  float: left;
  font-weight: bold;
  margin-right: 4px;
  width: 100px;
}

a.selectable:hover {
  background-color:  #c0ff75;
}

input.fullwidth {
  width: 300px;
}

div.dlabel {
  font-weight: bold;
}

div.searchGroup {
  border: 1px solid #848284;
  padding: 8px;
  margin-bottom: 8px;
}

div.privateBook {
  border: 1px solid #848284;
  padding: 8px;
  float:left;
  width :45%;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomleft: 12px;
  -moz-border-radius-bottomright: 12px;
}

div.publicBook {
  border: 1px solid #848284;
  padding: 8px;
  float:right;
  width :45%;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomleft: 12px;
  -moz-border-radius-bottomright: 12px;
}

div.manageGroup {
  border: 1px solid #848284;
  padding: 10px;
  margin-bottom: 8px;
  margin-top: 8px;
}

table.messageList {
  width: 100%;
}

div.batcher {
  margin-top: 10px;
  margin-right: 10px;
}

div.recipientSection {
  float: left;
  width: 33%;
}

div.currentRecipients {
}

div.adders {
  padding-top: 8px;
}

div.onBlock {
  width: 100%;
  float: left;
  margin-top: 8px;
}

tr.containers {
  background-color: white;
  padding: 4px;
  margin:4px;
}

tr.containersHeader {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #e7e7e7;
}


div.containersLine {
  margin-right: 10px;

}

div.containersLine a img {
  border: none;
  margin-right: 4px;
}

span.newMessage {
  font-weight: bold;
}

span.seenMessage {
}

div.cellDrag:hover {
  background-color: #c0ff75;
}

div.cellDesthighlighted {
  background-color: #c0ff75;
}

div.dragBox {
  vertical-align: middle;
  text-align: center;
  position: absolute;
  display: none;
  border: 1px solid black;
}

input.cellInput {
  width: 75px;
  padding-left: 4px;
  padding-right: 4px;
}

input.deleteFilter {
  background-image: url('cpsma_delete_file.png');
  background-repeat: no-repeat;
  background-position: left center;
  cursor: hand;
  border: none;
}

input.addFilter {
  background-image: url('cpsma_add.png');
  background-repeat: no-repeat;
  background-position: left center;
  cursor: hand;
  border: none;
  width: 12px;
}

input.moveFilterDown {
  background-image: url('cma_down.png');
  background-repeat: no-repeat;
  background-position: left center;
  cursor: hand;
  border: none;
  width: 12px;
}

input.moveFilterUp {
  background-image: url('cma_up.png');
  background-repeat: no-repeat;
  background-position: left center;
  cursor: hand;
  border: none;
  width: 12px;
}

table.folderTree {
  margin: 0px;
  padding: 0px;
}

tr.folderTreeElement {
  margin: 0px;
  padding: 0px;
}

td.folderTreeElement {
  margin: 0px;
  padding: 0px;
}

div.clipboardContent {
  float: right;
  background: yellow;
  padding: 2px;
  border: 1px solid black;
}

span.toolbar {
 font-size: 10px;
}

table.toolbar {
  margin: 4px;
}

div.toolbar {
  background-color: #e7e7e7;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomleft: 12px;
  -moz-border-radius-bottomright: 12px;
  width: 100%;
}

td.selectableButton {
  background-color: #e6e7e6;
  padding: 2px;
}

td.selectableButton:hover {
  background-color: white;
}

div.emptyFolder {
  padding: 10px;
}

div.spacer {
  margin-bottom: 10px;
}

div.topleftcorner {
  background-image: url('cma_top_left_grey.png');
  background-repeat: no-repeat;
  background-position: left center;
  height: 11px;
  width: 10px;
  float: left;
}

div.toprightcorner {
  background-image: url('cma_top_right_grey.png');
  background-repeat: no-repeat;
  background-position: right center;
  height: 11px;
  width: 10px;
  float: right;
}

div.bottomrightcorner {
  background-image: url('cma_bottom_right_grey.png');
  background-repeat: no-repeat;
  background-position: right center;
  height: 11px;
  width: 10px;
  float: right;
}

div.bottomleftcorner {
  background-image: url('cma_bottom_left_grey.png');
  background-repeat: no-repeat;
  background-position: left center;
  height: 11px;
  width: 10px;
  float: left;
}

td.bold {
  font-weight: bold;
}