
#mailHeaders {
  background-color: #e7e7e7;
  padding: 4px;
}

#mailSubject {
  float: left;
  margin-left: 4px;
}

#headerButton {
  float: left;
  margin-top: 4px;
}

#mailMoreInfos {
  margin-left: 14px;
}

#mailBreak {
  clear: both;
}

